﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @RenderSection("head", required: false)
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/vendor/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/site.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("Little-Concur Integrator", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Payment Batches", "Index", "PaymentBatch", null, new { @class = "nav-link" })
                </li>
            </ul>
            <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
        </div>
    </nav>
    <div class="container body-content">
        <div id="pageError" class="alert alert-danger alert-dismissible" role="alert" style="display: none;"></div>
        <div id="pageMessage" class="alert alert-info alert-dismissible" role="alert" style="display: none;"></div>
        @RenderBody()
        <hr />
        <footer>
            <p>
                &copy; @DateTime.Now.Year Little Diversified Architectural Consulting
            </p>
        </footer>
    </div>
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/datatables/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/vendor/jquery-serializejson/jquery.serializejson.js"></script>
    <script src="~/Content/vendor/jsrender/jsrender.js"></script>
    <script src="~/Content/js/site.debug.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>