﻿@model Little.Concur.PaymentBatch.Core.Data.StagingBatchSummary
@{
    ViewBag.Title = "Payment Batch Details";
}
<h1>Payment Batch Details</h1>
<div class="BatchSummary" data-batchid="@Model.Id">
    <button type="button" class="btn btn-sm btn-primary CloseConcurBatch">
        <i class="fa fa-gavel"></i> Close in Concur
    </button>
    @if (Model.IsFileLocal)
    {
        <a class="btn btn-sm btn-info" href="~/Content/batches/@Model.FileName"><i class="fa fa-paperclip"></i> Raw CSV</a>
        <button type="button" class="btn btn-sm btn-primary StageBatch">
            <i class="fa fa-magic"></i> Stage
        </button>
        <button type="button" class="btn btn-sm btn-danger SaveBatchBst">
            <i class="fa fa-floppy-o"></i> BST
        </button>
    }
</div>
<div class="row">
    <div class="col">
    <dl>
        <dt>Name</dt>
        <dd>@Model.Name</dd>

        <dt>Concur Status</dt>
        <dd>@(Model.IsClosed ? "Closed" : "Open")</dd>

        <dt>Type</dt>
        <dd>@Model.Type</dd>
    </dl>
    </div>
    <div class="col">
        <dl>
            <dt>Payment Method</dt>
            <dd>@Model.PaymentMethod</dd>

            <dt>Amount</dt>
            <dd>$@String.Format("{0:#,##0.00}", Model.Amount)</dd>

            <dt>Documents</dt>
            <dd>@Model.Count</dd>
        </dl>
    </div>
</div>
<div>
    <table class='table table-striped datatable'>
        <thead>
            <tr>
                <th>Batch Key</th>
                <th>Seq #</th>
                <th>Line #</th>
                <th>Period End</th>
                <th class="text-right">Debit</th>
                <th class="text-right">Credit</th>
                <th>Staged</th>
                <th>Completed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model.StagedEntries)
            {
            <tr>
                <td>@entry.batch_skey</td>
                <td>@entry.seq_nbr</td>
                <td>@entry.line_nbr</td>
                <td class="text-nowrap">@(entry.per_end_date.HasValue ? entry.per_end_date.Value.ToString("yyyy-MM-dd") : "")</td>
                <td class="text-right">$@String.Format("{0:#,##0.00}", entry.db_amt_ac)</td>
                <td class="text-right">$@String.Format("{0:#,##0.00}", entry.cr_amt_ac)</td>
                <td class="text-nowrap">@entry.Staged.ToString("yyyy-MM-dd")</td>
                <td class="text-nowrap">@(entry.Completed.HasValue ? entry.Completed.Value.ToString("yyyy-MM-dd") : "")</td>
            </tr>
            }
        </tbody>
    </table>
</div>