﻿@model System.Collections.Generic.List<Little.Concur.PaymentBatch.Core.Data.StagingBatchSummary>
@{
    ViewBag.Title = "Payment Batches";
}
<h1>Payment Batches</h1>
<p class="mb-1">Last Concur refresh on @Model.Max(x => x.Retrieved) (will only update if data changes)</p>
<div class="mb-3">
    <button type="button" class="btn btn-sm btn-primary ForceRefresh">
        <i class="fa fa-refresh" aria-hidden="true"></i> Refresh from Concur
    </button>
</div>
<div>
    <table class='table table-striped datatable'>
        <thead>
            <tr>
                <th>Name</th>
                <th class="text-right">Total</th>
                <th class="text-right">Count</th>
                <th>Status</th>
                <th>Type</th>
                <th>Payment Method</th>
                <th>Staged Entries</th>
                <th>Completed Entries</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var batch in Model)
            {
            <tr class="BatchSummary" data-batchid="@batch.Id">
                <td>@Html.ActionLink(batch.Name, "Details", "PaymentBatch", new { id = batch.Id }, null)</td>
                <td class="text-right">$@String.Format("{0:#,##0.00}", batch.Amount)</td>
                <td class="text-right">@batch.Count</td>
                <td>@(batch.IsClosed ? "Closed" : "Open")</td>
                <td>@batch.Type</td>
                <td>@batch.PaymentMethod</td>
                <td>@batch.StagedJournalEntryCount</td>
                <td>@batch.CompletedJournalEntryCount</td>
                <td>
                    <button type="button" class="btn btn-sm btn-primary CloseConcurBatch">
                        <i class="fa fa-gavel"></i> Close in Concur
                    </button>
                    @if (batch.IsFileLocal)
        {
            <a class="btn btn-sm btn-info" href="~/Content/batches/@batch.FileName"><i class="fa fa-paperclip"></i> CSV</a>
            <button type="button" class="btn btn-sm btn-primary StageBatch">
                <i class="fa fa-magic"></i> Stage
            </button>
            <button type="button" class="btn btn-sm btn-danger SaveBatchBst">
                <i class="fa fa-floppy-o"></i> BST
            </button>
}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>