﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_SiteLayout.cshtml";
}
<h1>Payment Batches</h1>
<h2>TBD</h2>
<ol>
    <li>Display list of eligible batches. Most likely display data from staging tables with option to refresh from Concur. Note if we already have CSV file.</li>
    <li>Allow user to close batch, optionally forcing generation of CSV (default reuse local copy).</li>
    <li>Process batch file to staging tables</li>
    <li>Validate and push to BST interface table</li>
</ol>
<div>
    <form id="PaymentBatchesForm" class="form-inline" role="form" action="~/batch/" method="GET">
        <div class="form-group">
            <label for="Status" class="col-form-label m-1">Status</label>
            <select id="Status" name="Status" class="form-control m-1">
                @foreach (var status in Model.Statuses)
                {
                    if (Model.Status == status)
                    {
                        <option value="@status" selected>@status</option>
                    }
                    else
                    {
                        <option value="@status">@status</option>
                    }
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary submitButton m-1">Refresh</button>
        <div class="alert alert-danger m-1" role="alert" style="display: none;"></div>
        <div class="alert alert-success m-1" role="alert" style="display: none;"></div>
    </form>
</div>
<table class='table table-striped'>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th class="text-right">Total</th>
            <th>Currency</th>
            <th>Count</th>
            <th>Type</th>
            <th>PaymentMethod</th>
            <th>Local CSV File</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var batch in Model.Batches)
        {
        <tr>
            <td>@batch.BatchID</td>
            <td>@batch.BatchName</td>
            <td>$@String.Format("{0:#,##0.00}", batch.BatchTotal)</td>
            <td>@batch.Currency</td>
            <td>@batch.Count</td>
            <td>@batch.Type</td>
            <td>@batch.PaymentMethod</td>
            <td>@batch.IsFileLocal</td>
        </tr>
        }
    </tbody>
</table>