﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @RenderSection("head", required: false)
    <link rel="stylesheet" href="~/Content/vendor/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/vendor/datatables/datatables.net-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="~/Content/vendor/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/site.min.css" />
</head>
<body>
    <div id="pageError" class="alert alert-danger alert-dismissible" role="alert" style="display: none;"></div>
    <div id="pageMessage" class="alert alert-info alert-dismissible" role="alert" style="display: none;"></div>
    @RenderBody()
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/vendor/datatables/datatables.net/js/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/datatables.net-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="~/Content/vendor/jquery-serializejson/jquery.serializejson.js"></script>
    <script src="~/Content/vendor/jsrender/jsrender.js"></script>
    <script src="~/Content/js/Utilities.js"></script>
    <script src="~/Content/js/WetzTables.js"></script>
    <script src="~/Content/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>