﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_SiteLayout.cshtml";
}

<h1>@ViewBag.Title</h1>

<ul>
    <li><a href="~/expense-reports">Expense Reports</a></li>
    <li><a href="~/batch">Payment Batches</a></li>
</ul>