﻿@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Little-Concur Integrator</h1>
    <p>
        @Html.ActionLink("Payment Batches", "Index", "PaymentBatch", null, new { @class = "btn btn-primary btn-lg" })
    </p>
</div>