﻿@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
@{
    Layout = "_SiteLayout.cshtml";
}
<script id="ExpenseReportsView" type="text/x-jsrender" src="~/Content/templates/ExpenseReportsView.js"></script>
<h1>Expense Reports</h1>
<h5>The Concur API limits results to 25 Expense Reports per request</h5>
<div>
    <form id="ExpenseReportsForm" class="form-inline" role="form" action="~/api/expense-reports/" method="GET">
        <input id="NextPageUrl" name="NextPageUrl" type="hidden" />
        <div class="form-group">
            <label for="EmpEmail" class="col-form-label m-1">Employee</label>
            <select id="EmpEmail" class="form-control m-1">
                <option value="ALL">View All</option>
                @foreach (var emp in Model)
                {
                    <option value="@emp.Email">@emp.Name (@emp.Code)</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-primary submitButton m-1" data-loading-text="Loading...">Load</button>
        <div class="alert alert-danger m-1" role="alert" style="display: none;"></div>
        <div class="alert alert-success m-1" role="alert" style="display: none;"></div>
    </form>
</div>
<table id="ExpenseReports" class='table table-striped'>
    <thead>
        <tr>
            <th>Owner Name</th>
            <th>Name</th>
            <th class="text-right">Total</th>
            <th>Submitted</th>
            <th>Approver</th>
            <th>Approval Status</th>
            <th>Paid</th>
            <th>Has Exception</th>
        </tr>
    </thead>
    <tbody>
        <td colspan="8">Select an employee to view</td>
    </tbody>
    <tfoot>
        <th colspan="8" data-viewnext="">
            <button id="view-next" type="button" class="btn btn-primary" data-loading-text="Loading..." disabled>Next Page</button>
        </th>
    </tfoot>
</table>